body {
      background-color: #CFD2DF;
}


#buttoncopy, #buttonrefresh  {
      color: black;
      background-color: white !important;
}

#buttoncopy:hover, #buttonrefresh:hover {  
      background-color: black !important;
      color: white;
}

#checkboxcard {
      border-radius: 20px;
}

#passinput{
      border-top-left-radius: 20px !important;
      border-bottom-left-radius: 20px !important;

}

#buttonrefresh {
      border-top-right-radius: 20px !important;
      border-bottom-right-radius: 20px !important;
}